BPaaS_オーケストレータ用エージェント_書面審査業務.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: BPaaS_オーケストレータ用エージェント_書面審査業務
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: agent
      id: 1759458850378-source-1759727158672-target
      selected: false
      source: '1759458850378'
      sourceHandle: source
      target: '1759727158672'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1759727158672-source-1759727565712-target
      selected: false
      source: '1759727158672'
      sourceHandle: source
      target: '1759727565712'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: プロンプト
          max_length: 500000
          options: []
          required: true
          type: paragraph
          variable: prompt
      height: 109
      id: '1759458850378'
      position:
        x: -1.9449147648205667
        y: 29
      positionAbsolute:
        x: -1.9449147648205667
        y: 29
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "【全業務共通】\nあなたは、別途指定する所定の業務を遂行するために、必要なツールを実行する役割を担っています。\nあなたの役割はあくまでも実行すべきツールの判断と実行*のみ*です。\n\
              \n【promptの説明】\n{{#1759458850378.prompt#}}のフォーマットは下記のとおりです。\n{\n    \"\
              契約書一覧照会\": [\n        {\n            \"契約書名\": \"{value}\"\n       \
              \ }\n    ],\n    \"基本情報タブ\": {\n        \"契約者（甲）お客様名（書面用）\": \"{value}\"\
              ,\n        \"契約者（甲）お客様名\": \"{value}\",\n        \"契約者（甲）住所\": \"{value}\"\
              ,\n        \"契約者（甲）氏名\": \"{value}\",\n        \"契約者（乙）住所\": \"{value}\"\
              ,\n        \"契約者（乙）会社名（書面用）\": \"{value}\",\n        \"契約者（乙）組織名\":\
              \ \"{value}\",\n        \"契約者（乙）役職\": \"{value}\",\n        \"契約者（乙）契約者氏名\"\
              : \"{value}\",\n        \"契約者（乙）担当者氏名\": \"{value}\"\n    },\n    \"\
              取引明細タブ\": [\n        {\n            \"NO.\": \"{value}\",\n        \
              \    \"商品名\": \"{value}\",\n            \"商品コード\": \"{value}\",\n  \
              \          \"数量\": \"{value}\",\n            \"税抜金額（円）\": \"{value}\"\
              \n        }\n    ],\n    \"回収条件・請求先情報\": {\n        \"商品明細一覧\": [\n\
              \            {\n                \"回収条件NO.\": \"{value}\",\n        \
              \        \"回収条件\": {\n                    \"回収条件NO.\": \"{value}\",\n\
              \                    \"請求先名\": \"{value}\"\n                },\n   \
              \             \"支払区分\": {\n                    \"支払区分\": \"{value}\"\
              ,\n                    \"支払方法\": \"{value}\",\n                    \"\
              支払期日\": \"{value}\"\n                }\n            }\n        ]\n \
              \   },\n    \"ファイル情報\": [\n\t{\n\t        \"署名付きURL\": \"{value}\",\n\
              \t        \"画像ファイル名\": \"{value}\"\n\t}\n    ],\n    \"契約番号\": \"{value}\"\
              ,\n    \"案件番号\": \"{value}\",\n    \"基本契約\": \"{value}\",\n    \"契約締結日（注文日）\"\
              : \"{value}\"\n}\n\n【各業務個別】\n企業間の契約に際しての審査業務で、必要なツールを実行していただきます。\n用意しているツールの一覧は下記のとおりです。\n\
              \n①: BPaaS_書面チェックエージェント\n書面チェックエージェントは、契約に必要な各種書面の不備が\nないかチェックする処理を担っています。\n\
              \n**{{#1759458850378.prompt#}}をそのまま入力変数\"prompt\"に渡して実行してください。**\n\n\
              ②: BPaaS_承認・差戻しツール\n書面チェックエージェントの実行結果を入力変数\"prompt\"で受け取り、書面審査を承認とするか、差戻しとするか判定する処理を担っています。\n\
              書面チェックエージェントの実行結果を入力変数\"prompt\"に渡して実行します。\n\n③BPaaS_書面審査結果登録ツール\n今回の処理結果をデータベースへ登録するためのツールです。\n\
              別途指定するテキストデータを入力変数\"prompt\"へ渡して実行します。\n\n基本的には①→②→③の順番で実行します。"
          maximum_iterations:
            type: constant
            value: 30
          model:
            type: constant
            value:
              completion_params:
                max_completion_tokens: 128000
                verbosity: high
              mode: chat
              model: gpt-5-mini
              model_type: llm
              provider: langgenius/azure_openai/azure_openai
              type: model-selector
          query:
            type: constant
            value: '【全業務共通】

              次に、実施いただきたい処理を共有します。

              どのような作業が必要かを推論し、必要なツールの実行をお願いします。


              各ツールの実行結果は"result"という出力変数に格納されています。


              【各業務個別】

              ①BPaaS_書面審査結果登録ツールの入力変数"prompt"に下記フォーマットのテキストデータを渡して実行してください。


              **また、下記のフォーマットは必ず守ってください。守らないとツールが正常に動作しません。**


              ------------------------------------------------

              ・{{#1759458850378.prompt#}}をそのまま記載


              **※"{{#1759458850378.prompt#}}"を必ず記載してください。記載しないとツールが正常に動作しません。**


              ■ 書面チェック結果

              (書面チェックエージェントの実行結果を記載)

              **上記の文字列をそのまま出力するという旨の指示ではありません。書面チェックエージェントの実行結果を、要約や改変等せずにそのまま渡してください。**


              ■ 書面審査結果

              ・BPaaS_承認・差戻しツールの実行結果(承認or 差戻し)

              ・差戻しコメント(差戻しの場合のみ出力)

              ------------------------------------------------



              ②最終的な結果出力をしてください。今回の出力については、下記の項目に沿ってテキストデータ*のみ*出力してください。

              **あなたに対する指示であると解釈すべき文字列は出力しないでください**

              ------------------------------------------------

              ■ オーケストレータ処理結果

              ・正常終了の場合は"SUCCESS"、異常終了の場合は"FAILED"


              ※差戻しの場合でも、ツールが正常に終了していれば"SUCCESS"


              ■ 書面チェック結果

              (書面チェックエージェントの実行結果を記載)

              **上記の文字列をそのまま出力するという旨の指示ではありません。書面チェックエージェントの実行結果を、要約や改変等せずにそのまま出力してください。**


              ■ 書面審査結果

              ・BPaaS_承認・差戻しツールの実行結果(承認or 差戻し)

              ・差戻しコメント(差戻しの場合のみ出力)

              ------------------------------------------------'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: ''
              parameters:
                propmt:
                  auto: 1
                  value: null
              provider_name: 7648e6d0-5b02-4cd6-8674-fee36c65ebf5
              provider_show_name: BPaaS_書面チェックエージェント
              schemas:
              - auto_generate: null
                default: ''
                form: llm
                human_description:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                label:
                  en_US: propmt
                  ja_JP: propmt
                  pt_BR: propmt
                  zh_Hans: propmt
                llm_description: ''
                max: null
                min: null
                name: propmt
                options: []
                placeholder:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                precision: null
                required: false
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: ''
              tool_label: BPaaS_書面チェックエージェント
              tool_name: document_check_agent
              type: workflow
            - enabled: true
              extra:
                description: ''
              parameters:
                prompt:
                  auto: 1
                  value: null
              provider_name: dc27f694-0ccf-48e4-b298-b50e338172f2
              provider_show_name: BPaaS_承認・差戻しツール
              schemas:
              - auto_generate: null
                default: ''
                form: llm
                human_description:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                label:
                  en_US: prompt
                  ja_JP: prompt
                  pt_BR: prompt
                  zh_Hans: prompt
                llm_description: ''
                max: null
                min: null
                name: prompt
                options: []
                placeholder:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: ''
              tool_label: BPaaS_承認・差戻しツール
              tool_name: approve_or_reject
              type: workflow
            - enabled: true
              extra:
                description: ''
              parameters:
                prompt:
                  auto: 1
                  value: null
              provider_name: 60ea4216-39a6-4729-b812-85449f393144
              provider_show_name: BPaaS_書面審査結果登録ツール
              schemas:
              - auto_generate: null
                default: ''
                form: llm
                human_description:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                label:
                  en_US: prompt
                  ja_JP: prompt
                  pt_BR: prompt
                  zh_Hans: prompt
                llm_description: ''
                max: null
                min: null
                name: prompt
                options: []
                placeholder:
                  en_US: ''
                  ja_JP: ''
                  pt_BR: ''
                  zh_Hans: ''
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: ''
              tool_label: BPaaS_書面審査結果登録ツール
              tool_name: register_result_db
              type: workflow
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        desc: ''
        meta:
          minimum_dify_version: null
          version: 0.0.1
        plugin_unique_identifier: langgenius/agent:0.0.13@8a9c70b0ed352e494af4f3817ba11a7526d62b1abccc63b71040be7a31e1e3df
        selected: true
        title: エージェント
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1759727158672'
      position:
        x: 340.2178100585353
        y: 50
      positionAbsolute:
        x: 340.2178100585353
        y: 50
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1759727158672'
          - text
          value_type: string
          variable: result
        selected: false
        title: 終了
        type: end
      height: 88
      id: '1759727565712'
      position:
        x: 683
        y: 50
      positionAbsolute:
        x: 683
        y: 50
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 88.9055257644153
      y: 201.14558409435344
      zoom: 0.8705505632961241
  rag_pipeline_variables: []
