templates/template_judgment_tool.yml
# =============================================================================
# テンプレート: 承認・差戻し判定ツール
# =============================================================================
# パターン: Start → LLM → End (3ノード直線)
# 用途:     チェック結果を受け取り、判定基準と照合して承認/差戻しを判定する
# 適用例:   書面審査の承認・差戻し、品質検査の合否判定、申請書の受理・却下判定
# =============================================================================
# ★カスタマイズ箇所は「# ★カスタマイズ:」コメントで示しています。
# サンプル値は書面審査業務のものです。自業務の値に差し替えてください。
# =============================================================================
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: BPaaS_承認・差戻しツール  # ★カスタマイズ: ツール名を自業務に合わせて変更
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/azure_openai:0.0.36@c995a18ffe376b9995b88ad91930998b2b4f9f6e02ef6280895ff8a175e0cb8b  # ★カスタマイズ: 使用するLLMプロバイダーのプラグインID
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1764056626699-source-1764056639090-target
      source: '1764056626699'
      sourceHandle: source
      target: '1764056639090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1764056639090-source-1764056650131-target
      source: '1764056639090'
      sourceHandle: source
      target: '1764056650131'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    # -----------------------------------------------------------------------
    # ノード1: 開始
    # -----------------------------------------------------------------------
    - data:
        selected: false
        title: 開始  # ★カスタマイズ: ノードタイトル
        type: start
        variables:
        - default: ''
          hint: ''
          label: prompt
          max_length: 50000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: prompt
      height: 109
      id: '1764056626699'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    # -----------------------------------------------------------------------
    # ノード2: LLM (判定ロジック)
    # -----------------------------------------------------------------------
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7  # ★カスタマイズ: temperature
          mode: chat
          name: gpt-4.1-mini  # ★カスタマイズ: モデル名
          provider: langgenius/azure_openai/azure_openai  # ★カスタマイズ: プロバイダー
        prompt_template:
        - id: a8caf6b4-37de-4071-9b2a-2e8697806bcb
          role: system
          # =================================================================
          # ★カスタマイズ: 以下のプロンプト全体を自業務に合わせて書き換える
          # 構造:
          #   1. 入力データの説明
          #   2. 判定基準一覧 (差戻しコメント一覧)
          #   3. 判定ロジック (承認/差戻しの条件)
          #   4. 出力フォーマット指定
          # =================================================================
          text: >-
            {{#1764056626699.prompt#}}は、書面審査業務における確認結果レポートです。


            下記の差戻しコメント一覧にあるコメントのいずれかに該当する場合は、該当する差戻しコメントを添えて差戻しとしてください。
            コメント一覧中のV-UPデータとは突合データのことを指します。

            **差戻しコメントはそのまま引用し、内容の要約や改変はしないでください。**


            【差戻しコメント一覧】

            書面未着：添付書面不備

            ・書面が未添付です。添付いただき、再申請して下さい。

            ・注文書の(控)・(仮)が添付されていますので、「手配可の差戻し」とします。正式な注文書を入手次第、再申請して下さい。

            ・広域・ＢＰ業務Ｇ（広域顧客営業協力制度担当）の正式な納入依頼書が未添付です。添付いただき、再申請して下さい。

            ・「手配可の差戻し」としますが、○○を入手次第、再申請して下さい。


            書面：注文日-無/不備

            ・注文書に『注文日』が未記載です。再申請頂く際は記載頂いた日付とＶ－ＵＰデータ契約締結日（注文日）が一致している事を確認して下さい。


            書面：甲)会社名（EU）-不備

            ・注文書の『お客様会社名』が未記載です。記載していただき、再申請して下さい。


            書面：甲)役職者名or担当者名-無

            ・注文書の『お客様氏名の欄』が未記載です。決裁権限者・ご担当者の氏名を『フルネーム』で記載していただき、再申請して下さい。


            書面：お客様契約印-不備

            ・注文書にお客様捺印(代表者印/個人印)がありません。押印していただき、再申請して下さい。※シャチハタ印は不可となります。


            ﾃﾞｰﾀ不一致：契約金額(税抜)

            ・分割審査は不可となっております。V-UPデータは注文書通り作成下さい。発注を分けられるようであれば、契約審査完了後に分けて下さい。

            ・『契約金額』が『注文書』と『V-UPデータ/契約金額』で不一致です。

            ・『単価金額』が『注文書』と『V-UPデータ/金額』で不一致です。


            ﾃﾞｰﾀ不一致：甲)会社名(EU)

            ・注文書とV-UPデータの『お客様名』が不一致です。（データの「請求先名」は『○○○』です）


            ﾃﾞｰﾀ不一致：(明細)商品名

            ・書面とV-UPデータの商品明細が不一致です。

            ・商品の一致が確認出来ません。同一商品で間違い無いようであればV-UPコメント欄に「同一商品です」と入力いただき再度審査をご依頼下さい。

            ・代替・終息コメントにより、「手配可の差戻し」としますが、売上までに契約書面を取り直し、もしくは訂正いただき、再申請して下さい。


            ﾃﾞｰﾀ不一致：数量

            ・数量が、『注文書』と『V-UPデータ』で不一致です。


            ﾃﾞｰﾀ不一致：支払条件

            ・『支払条件（期日/方法）』が、『注文書』と『V-UP回収条件/支払条件（期日/方法）』で不一致です。

            ・V-UP回収条件が未入力です。入力いただき、再申請して下さい。


            100万円以上：注文書受注不可

            ・基本契約「無」ユーザーです。売買契約書を取得し、『売買契約書』表紙で再申請して下さい。


            確認結果について、特段問題がなく、かつ差戻しコメント一覧の中に該当する差戻しコメントがない場合は承認としてください。

            **差戻しコメント一覧に該当する差戻しコメントがない場合でも、書面の内容に問題がある旨の記載があれば差戻しとしてください。**


            出力については、下記のフォーマットに従ってください。
            **フォーマットは必ず守ってください**

            ------------------------------------------------

            ■ ツール実行結果

            ・正常終了の場合は"SUCCESS"、異常終了の場合は"FAILED"を出力


            ■ 書面審査結果

            ・承認の場合は"承認"、差戻しの場合は"差戻し"


            ・差戻しコメント(差戻しとなった場合にのみ出力)

            ------------------------------------------------
        selected: false
        title: LLM  # ★カスタマイズ: ノードタイトル
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764056639090'
      position:
        x: 381
        y: 282
      positionAbsolute:
        x: 381
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    # -----------------------------------------------------------------------
    # ノード3: 終了
    # -----------------------------------------------------------------------
    - data:
        outputs:
        - value_selector:
          - '1764056639090'
          - text
          value_type: string
          variable: result
        selected: false
        title: 終了
        type: end
      height: 88
      id: '1764056650131'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 95.68106972169522
      y: -48.300831858441995
      zoom: 0.7704267844729915
  rag_pipeline_variables: []
